html,
body {
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
}

.astro-code > code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.flexgallery {
  //display: flex;
  gap: 0.5rem;
  width: 100%;
}
