html,
body {
  font-family: "Arial", sans-serif;
}

a:hover {
  text-decoration: underline;
}
a {
  color: blue;
}

.astro-code > code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.flexgallery {
  //display: flex;
  gap: 0.5rem;
  width: 100%;
}
