---
const today = new Date();
---

<footer>
	Simon Zhang {today.getFullYear()}
	<div class="links">
		loooook ->
		<a href="https://simonzhang.design" target="_blank">portfolio</a>
	</div>
</footer>
<style lang="postcss">
footer {
	@apply flex justify-between px-3 lg:px-4 py-4;
}
a {
	@apply text-blue-700 hover:underline;
}
</style>
