---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

---

<a data-tag-button={href}  href={href} class:list={[className ]} {...props}>
	<slot />
</a>
<style>
	a {
		@apply border-2 border-transparent px-3 py-1 rounded-full text-sm;
	}
	a.active {
		@apply border-current ;
	}
</style>
<script>
	 // Find all buttons with the `alert` class on the page.
	 const buttons = document.querySelectorAll('[data-tag-button]');
	 const queryString = import.meta.env.BASE_URL + '/' + window.location.search;
	// Handle clicks on each button.
	buttons.forEach((button) => {
		const href = button.getAttribute('data-tag-button') 
		if (removeTrailingSlash(queryString) === removeTrailingSlash(href))
		button.classList.add('active')
	});

	//sometimes the website adds a slash at the end of url
	function removeTrailingSlash(str: any) {
		if (!str) return '';
		return str.replace(/\/+$/, '')
	}
</script>