---
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <div class='links'>
      <a href={import.meta.env.BASE_URL}> Back to Home</a>
    </div>
    <img
      class='icon'
      src={import.meta.env.BASE_URL + "/smile.svg"}
      role='presentation'
    />
    <div class='relative'>
      <h2>{SITE_TITLE}</h2>
      <img
        src={import.meta.env.BASE_URL + "/cat_angry.jpg"}
        role='presentation'
        class='absolute right-0 w-[7em]'
      />
    </div>
  </nav>
</header>

<style lang="postcss">
	nav {
		@apply px-3 lg:px-4 py-4 flex justify-between items-center text-sm md:text-base; 
		@apply bg-white md:bg-transparent;
	}
	.links {
		@apply flex gap-2 flex-1;
	}
	header {
		@apply sticky top-0 z-50;
	}
	img.icon {
		@apply h-[1.5em] hidden sm:block;
	}
	h2 {
		@apply flex-1 text-right ;
	}
</style>
